* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body {
    height: 100%;
    width: 100%;
}

.card{
  height: 100px;
  background-color: pink;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;

}

.nav{
  background-color: cadetblue;
  height: 50px;
  font-size: 25px;
  font-weight: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: black;
}